/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    font-family: sans-serif, Arial, Helvetica ;
    font-weight: 100;
    font-size: 0.90em;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

.printNone {
    display: block;
}

.printOnly {
    display: none;
}

.heading {    
    font-family: Geneva, Verdana, Tahoma, sans-serif;
}

.boxShadow {
    -webkit-box-shadow: 0 7px 10px 5px #E0E0E0;
    box-shadow: 0 7px 10px 5px #E0E0E0;
}

.headerGredient {
    background: rgb(96, 92, 156);
    background: linear-gradient(90deg, rgba(96, 92, 156, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

.sideBarGredient {
    background: rgb(210, 233, 233);
    background: linear-gradient(90deg, rgba(210, 233, 233, 1) 0%, rgba(227, 244, 244, 1) 100%);
}

.borderLeft {
    border-left: 1px solid lightblue;
}

.heading {
    letter-spacing: 0.05em;
    line-height: 2em;
    border-bottom: 1px solid gray;
}
.progress {
    background-color: #04d1fd;
    .progress-bar {
        background-color: #0a0a79;
    }
}

.contactList {
    list-style: none;
    margin: 0px;
    padding: 0;
    li{
        margin-bottom: 0.5em;
        display: flex;
        a{
            padding-top: 1px;
        }
        p {
            margin-bottom: 0;
        }
        span {            
            margin-right: 0.70em;
            width: 19px;
            font-size: 1.25em;
            color: #1e90ff;
        }
    }
}

.printButton {
    position: fixed;
    bottom: 2em;
    right: 2em;
    height: 3em;
    width: 7em;
    border-radius:1em;
    -moz-border-radius:1em;
    -webkit-border-radius:1em;
}

@media print {
    .app-template-container {
        width: 100%;
        max-width: 100%;
        margin-top: 0em !important;
    }
    .printOnly {
        display: block;
    }
    .printNone {
        display: none;
    }
}